/* You can add global styles to this file, and also import other style files */
app-root{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr .1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;
        
        background-color: red;
       
     }
     .middle{
        display: grid;
        grid-template-columns: minmax(300px, .2fr) minmax(600px, 1fr) ;
       // grid-template-columns: minmax(min-content, 300px) minmax(200px, 1fr) 150px;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
     }
